* {
    padding: 5px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    font-style: initial;
    background-color: rgba(231, 231, 233, 0.929);
}

h1, p {
    text-align: center;
}

table {
    width: 25vw;
    margin: 4.7rem aoto;
    background-color: rgba(59, 58, 58, 0.916);
    padding: 20px;
    border-radius: 30px;
    border-bottom: 15px solid rgb(47, 46, 46);
    margin: 2rem auto;

}

input[type="text"] {
    text-align: right;
    width: 100%;
    border-radius: 20px;
    background-color: rgb(171, 186, 187);
    font-size: 2rem;
    padding: 15px;
    border: 1px solid #f7f6f6;
    font-size: 30px;
    margin-bottom: 20px;
    border-bottom: 10px solid #cdcccc;
    color: #edebeb;
    overflow-x: hidden;
}

button {
    font-weight: 999;
    font-size: 35px;
    padding: 3px;
    margin: auto;
    border-radius: 10px;
    border-right: 2px solid rgb(126, 124, 124);
    border-bottom: 5px solid rgb(126, 124, 124);
    border-top: none;
    border-left: none;
    width: 100%;
}

button:hover {
    background-color: rgb(142, 155, 155);
}

button:active {
    background-color: aqua;
}

#equal-btn {
    background-color: rgb(237, 133, 6);
    border-right: 2px solid rgb(232, 130, 6);
    border-bottom: 5px solid rgb(241, 136, 6);
}

#equal-btn:hover {
    background-color: rgb(232, 130, 6);
}

#equal-btn:active {
    background-color: rgb(232, 130, 6);
}

@media(max-width: 999.99px) {
    table {
        width: 50vw;
    }
}

@media(max-width: 759.99px) {
    table {
        width: 90vw;
        margin: 3rem auto;
    }
}